@media (max-width: 1024px) {
  .container {
    max-width: 750px;
  }
  .top {
    margin-bottom: 100px;
  }
  .top-text {
    width: 80px;
    height: 510px;
    padding: 18px 25px 9px;
  }
  .top-text:nth-child(2) {
    margin-right: 50px;
  }
  .top-title {
    width: 210px;
  }
  .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .about .about-left .about-text {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .about .about-right {
    margin: 0 auto;
    width: 100%;
  }
  .detail-contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .detail-content {
    width: 100%;
    height: 436px;
    margin-bottom: 32px;
    padding: 15px 10px;
  }
  .detail-content:nth-child(3) {
    height: 450px;
  }
  .detail-content > img {
    width: 187px;
    height: 187px;
  }
  .content-name {
    text-align: center;
  }
  .news {
    padding-bottom: 50px;
  }
  .news-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .date {
    margin-bottom: 15px;
  }
  .category {
    margin-bottom: 20px;
  }
  .news-text {
    margin-bottom: 10px;
    line-height: 2.375;
  }
  .link-button {
    text-align: center;
  }
  .access {
    margin-top: 50px;
  }
  .access-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .access-time {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .time-left {
    margin: 0 auto 20px;
    border: none;
  }
  .time-right {
    margin: 0 auto;
  }
  .access-left {
    width: 100%;
  }
  .access-right {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-left: 0;
  }
  .accsess-logo {
    width: 183px;
    height: 83px;
  }
  .access-tel {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .adress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .clinic-name {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
  header {
    height: 80px;
  }
  header .head-logo {
    padding-top: 1.6rem;
  }
  header .head-logo > img {
    width: 22rem;
  }
  .top {
    margin-bottom: 60px;
  }
  .top-title {
    width: 180px;
  }
  .top-text:nth-child(2) {
    margin-top: 50px;
    margin-right: 20px;
  }
  .about .about-left .about-title {
    margin-bottom: 25px;
  }
  .detail-contents {
    padding-bottom: 32px;
  }
}

@media (max-width: 550px) {
  .detail-content {
    height: 539px;
  }
  .detail-content:nth-child(2) {
    height: 439px;
  }
}

@media (max-width: 515px) {
  .head-content .head-right {
    width: 50%;
  }
  .head-content .head-right > p {
    font-size: 1.3rem;
  }
  .head-content .head-right .head-tell > img {
    width: 15px;
  }
  .head-content .head-right .head-tell .head-tel {
    font-size: 1.5rem;
  }
  .head-content .head-logo {
    width: 150px;
  }
  .head-content .head-logo > img {
    width: 150px;
  }
  .top-title {
    width: 150px;
  }
  .top-text {
    height: 450px;
    padding: 18px 20px 9px;
  }
}
/*# sourceMappingURL=responsive.css.map */
